
{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié?</h1>
    
    <form method="post">
        <label for="email">Entrer votre email</label>
        <input type="email" name="email" id="email" required class="form-control" autocomplete="email">
        
        <button class="btn btn-primary" type="submit">Envoyer le lien de réinitialisation</button>
    </form>
{% endblock %}
