

{# templates/partials/_search_product_form.html.twig #}

<section class="search_bar">
	<div class="search-container">
			{{ form_start(form, { 'action': path('product_search'), 'method': 'GET' }) }}
			<div class="search-input-wrapper">
        {{ form_widget(form.query, { 'attr': { 'class': 'search-input-field', 'placeholder': 'Rechercher un produit...' } }) }}
        <button type="submit" class="search-icon-button">
          <i class="fas fa-search"></i>
        </button>
      </div>
			{{ form_end(form) }}
	</div>
</section>