 

 /*https://css-tricks.com/examples/ButtonMaker/# c'est l'adresse pour gérer les bouton-*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

  font-family:  'Lora', serif;
  font-size: 16px;
  color: #110f0f;
  background-color: rgb(206, 206, 25);
}

 .foot-container{
  background-color: #951a38;
  height: 300px;
  color: #f9f9f9;
}
.instagrame{
  color: #05080a;
  margin-top: 20px;
  width: 40px;
}
.facebook{
  color:#030202;
 margin-bottom: 20px;
 width: 40px;

}
.container_1{
  display: flex;
  flex-wrap: wrap-reverse;
}
 
hr {
  border: none; /* Supprime le style par défaut */
  height: 2px;  /* Épaisseur de la ligne */
  background-color: rgb(255, 247, 247); /* Couleur de la ligne */
  margin: 10px 0; /* Espace autour de la ligne */
}

.produits-container {
  display: flex;
 
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  align-content: start;
}
  
/* juste pour tester si ca marche */
 /* En-tête */
 .logo {
	text-align: center;
	margin-bottom: 20px;
}

.logo img {
	max-width: 150px;
	height: auto;
}

.detail-entreprise {
	text-align: center;
	margin-bottom: 30px;
}

.detail-entreprise h3 {
	font-size: 24px;
	color: #2c3e50;
	margin-bottom: 10px;
}

.detail-entreprise ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.detail-entreprise ul li {
	margin-bottom: 5px;
	color: #555;
}

/* Section client */
.detail-client {
	margin-bottom: 30px;
}

.detail-client h3 {
	font-size: 20px;
	color: #2c3e50;
	margin-bottom: 10px;
}

.detail-client ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.detail-client ul li {
	margin-bottom: 5px;
	color: #555;
}

/* Titre de la facture */
h1 {
	text-align: center;
	font-size: 28px;
	color: #2c3e50;
	margin-bottom: 20px;
}

/* Tableau des produits */
/* style pour la page confirmation commande*/
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 30px;
}

table th, table td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

table th {
	background-color: #f8f9fa;
	font-weight: bold;
	color: #2c3e50;
}

table tr:nth-child(even) {
	background-color: #f9f9f9;
}

table tr:hover {
	background-color: #f1f1f1;
}

/* Total */
.total {
	font-weight: bold;
	text-align: right;
	background-color: #f8f9fa;
}
/*style du footer de tous les pages */
/* Pied de page */
footer {
	text-align: center;
	margin-top: 30px;
	padding-top: 20px;
	border-top: 1px solid #ddd;
	color: #777;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer ul li {
	margin-bottom: 5px;
}

 /* Section héros */
 /*c'est le style pour la homepage*/
.hero {
  background-image:  url('../imgs/home.webp');  
  background-size: cover; /* Couvre toute la zone */
  background-position: center; /* Centre l'image */
  height: 100vh; /* Prend toute la hauteur de l'écran */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(236, 234, 234);
  position: relative;
  z-index: 1;
  margin-bottom: 110px;
}
.hero::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.hero-content{
  position: relative;
  z-index: 2;
}


.hero_text h1 {
  font-size: 3em; /* Taille du titre */
  margin-bottom: 20px; /* Espace sous le titre */
}

.hero_text p {
  font-size: 1.5em; /* Taille du paragraphe */
  margin-bottom: 30px; /* Espace sous le paragraphe */
}
.hero_text h2{
  font-size: 30px;
  font-style: italic;
  margin-bottom: 50px;
}

.home-btn {
  background-color: #8B0000; /* Rouge bordeaux */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  transition: background-color 0.3s ease; /* Animation au survol */
}
.home-btn:hover {
  background-color: #ec2121; /* Rouge plus clair au survol */
  color: #000000;
}
/*.hero-content{
  margin-top: 100px;
}
.hero_text{
  display: flex;
  align-content: center;
}*/
 /* public/css/style.css */

/* Styles pour la liste des produits */
.produits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
   
}

/* Styles pour chaque carte de produit */
.produit-card {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  text-align: center;
  background-color: #f7f1f1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Aligne les éléments verticalement */
}

.produit-card:hover  {
  transform: translateY(-15px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
 
  
}

/* Styles pour le nom du produit */
.produit-card h2 {
  font-size: 20px;
  margin: 0 0 10px;
  color: #c20202;
}

/* Styles pour la description du produit */
.produit-card .detail {
  font-size: 14px;
  color: #666;
  margin: 0 0 15px;
  line-height: 1,5; 
  flex-grow: 1; /* Permet à la description de prendre l'espace disponible */
}

/* Styles pour le prix du produit */
.produit-card .prix {
  font-size: 18px;
  font-weight: bold;
  color: #1644df; /* Vert pour le prix */
  margin: 0;
  padding: 10px 0; /* Espace autour du prix */
  border-top: 1px solid #e0e0e0; /* Ligne de séparation */
}

/* Styles pour l'image du produit */
.produit-image {
    max-width: 100%; /* L'image ne dépasse pas la largeur de la carte */
    max-height: 120px; /* Hauteur maximale pour les images */
    width: auto; /* Largeur ajustée automatiquement pour conserver les proportions */
    height: auto; /* Hauteur ajustée automatiquement pour conserver les proportions */
    border-radius: 8px;
    margin-bottom: 12px;
    object-fit: contain; /* Redimensionne l'image pour qu'elle tienne dans la zone sans déformation */
}
/* Styles pour le placeholder d'image */
.produit-image-placeholder {
  width: 100%;
  height: 120px; /* Hauteur fixe pour le placeholder */
  background-color:  #E8E9B9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #666;
  font-size: 14px;
  margin-bottom: 12px;
}
/*.card-btn{
  color:#030202;
  font-size: 16px;
}
.card-btn:hover{
  background-color: #7D0A0A;
  color: #c53838 ;
}*/

.button, a.button {
  border-top: 1px solid #96d1f8;
  background: #d66262;
  
  background: -webkit-linear-gradient(top, #9e0911, #d66262);
  background: -moz-linear-gradient(top, #9e0911, #d66262);
  background: -ms-linear-gradient(top, #9e0911, #d66262);
  background: -o-linear-gradient(top, #9e0911, #d66262);
  padding: 10.5px 21px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: #000000;
  font-size: 15px;
  font-family:  --var(--font-texte);
  text-decoration: none;
  vertical-align: middle;
}

button:hover, a.button:hover {
  border-top-color: #960829;
  background: #960829;
  color: #fcf4f4;
}

button:active, a.button:active {
  border-top-color: #c97676;
  background: #c97676;
}
/* style de la page exclusive*/

 
/* Ajoutez le reste des styles en fonction des nouvelles classes */
 
 /* le style de la table vue user/profile*/
 table, th, td {
  border:1px solid black;
  border-collapse: collapse;
}