.card {
	display: flex;
	flex-direction: column;
	height: 100%; /* Force toutes les cartes à prendre la même hauteur */
}

.card-body {
	flex-grow: 1; /* Remplit l'espace disponible de manière égale */
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Garde les boutons alignés en bas */
}
body{
	background-color: #791c1c;
	color: aliceblue;
}
 


/*.sidebar {
	position: fixed;
	left: 0;
	top: 60px; 
	width: 250px;
	height: 100%;
	background: #f8f9fa;
	padding: 15px;
	border-right: 2px solid #ddd;
	z-index: 1000;
	border: 3px solid red; 
	}*/
 /*Ajout temporaire pour vérifier */

	/*.sidebar {
    width: 250px;
    background: #468cd1;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    border-right: 1px solid #ccc;
}*/
.sidenav {
	position: fixed;
	left: -250px;  /* Cache la sidebar à gauche */
	top: 0;
	width: 250px;
	height: 100vh;
	background-color: #f8f9fa;
	transition: left 0.3s ease;  /* Animation pour le déplacement */
}

.sidenav.active {
	left: 0;  /* Lorsque la sidebar est active, elle se déplace vers la droite */
}

.sidebar h4 {
	margin-top: 20px;
	font-size: 18px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar ul li {
	padding: 10px 0;
}

.sidebar a {
	text-decoration: none;
	color: #333;
}

.sidebar select {
	width: 100%;
	margin-top: 10px;
}
.content {
	margin-left: 270px;   
	padding: 20px;
}
