{% extends 'base.html.twig' %}

{% block title %}Confirmation de paiement{% endblock %}

{% block body %}
    <h1>Paiement confirmé !</h1>
    <p>Merci pour votre commande. Votre paiement a été validé.</p>

    {% if facture.pdfPath %}
        <p>
            Vous pouvez télécharger votre facture ici :
            <a href="{{ facture.pdfPath }}" target="_blank">Télécharger la facture</a>
        </p>
    {% endif %}
{% endblock %}
