{% extends 'base.html.twig' %}

{% block title %}Liste des Commandes{% endblock %}

{% block body %}
<h1>Liste des Commandes</h1>
<p>Je vais créer un tableau avec tous les commande </p>
 
<p>n° de la facture : {{Commande.facture.numeroFacture}}</p>
 
{% endblock %}
